@font-face {
  font-family: "NeoDunggeunmoPro-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

body {
  background-color: #d8efd3;
}

#title {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 35px;
  color: #578f67;
  margin: 0 0 1% 0;
}

#input {
  width: 15em;
  height: 1em;
  border-radius: 5px;
  border-width: 0;
  padding: 15px;
}

#buttonBox {
  display: flex;
  margin-top: 1.5%;
  width: 30%;
  justify-content: center;
  align-items: center;
}

#startGame {
  margin-right: 2%;
  background-color: #578f67;
  color: #d8efd3;
  width: 6em;
  height: 2.5em;
  border-radius: 5px;
  font-size: 16px;
  font-family: "NeoDunggeunmoPro-Regular";
  border-width: 0;
}

#endGame {
  margin-left: 2%;
  background-color: #578f67;
  color: #d8efd3;
  width: 6em;
  height: 2.5em;
  border-radius: 5px;
  border-width: 0;
  font-size: 16px;
  font-family: "NeoDunggeunmoPro-Regular";
}

#score {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 20px;
  color: #578f67;
  margin: 1;
}

#num {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 20px;
  color: #578f67;
}

#random {
  font-family: "NeoDunggeunmoPro-Regular";
  font-size: 25px;
  color: #578f67;
  margin-bottom: 1%;
}

/* Responsive Design */
@media (max-width: 768px) {
  #title {
    font-size: 28px;
  }

  #input {
    width: 30%;
    padding: 10px;
    font-size: 14px;
  }

  #buttonBox {
    width: 90%;
  }

  #startGame,
  #endGame {
    font-size: 14px;
  }

  #score,
  #num,
  #random {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  #title {
    font-size: 24px;
  }

  #input {
    width: 50%;
    padding: 10px;
    font-size: 12px;
  }

  #buttonBox {
    flex-direction: row;
    align-items: center;
  }

  #startGame,
  #endGame {
    width: 30%;
    margin: 5px 10px;
    font-size: 14px;
  }

  #score,
  #num,
  #random {
    font-size: 16px;
  }
}
