#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 80vh;
}

h1 {
  font-size: 60px;
}
#where {
  color: blue;
}

#weather {
  font-size: 70px;
  font-weight: 700;
  color: cornflowerblue;
}
